<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MuStudio Desing</title>
    <link rel="icon" href="/images/MUchiquito2.png" type="image/png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@latest/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header>
            <div class="imagen_header">
                
            </div>
                <nav class="navbar">
                    <a href="#inicio">Inicio</a>
                    <a href="#acerca_de">Acerca de</a>
                    <a href="#portafolios">Portafolios</a>
                    <a href="#contacto">Contacto</a>
                </nav>
            
    </header>

    <section class="inicio" id="inicio">
        <div class="banner">
            <div class="icon">
                <img src="/images/fondo.jpg" id="icon_fondo" alt="">
            </div>
            <div class="texto" id="texto">
                <h1>MuStudio Desing</h1>
                <h2>Amoblamientos a tu medida.</h2>
            </div>
        </div>
        <div class="descripcion-inicio">
            <h2>¿Porque elegir MuStudio Desing para sus proyectos?</h2>
            <p>Tenemos una amplia gama de soluciones de superficie solida personalisables y de alta calidad para satisfacer sus necesidades. ¡Mira nuestors proyectos ahora y contactanos para comenzar el tuyo hoy!</p>
        </div>
    </section>

    <section class="acerca_de" id="acerca_de">
        <div class="grande">
            <div class="banner">
                <div class="icon">
                    <img src="/images/descarga20.jpeg" id="icon_fondo" alt="">
                </div>
                
            </div>
            <div class="banner">
                <div class="icon">
                    <div class="texto" id="texto">
                    <h2>EXPERIENCIA, COMODIDAD Y CALIDAD PARA TU CASA.</h2>
                </div>
                </div>
            </div>
        </div>

        <div class="desc desc1" id="desc1" style="margin-top: 25rem;">
            <h3>COMPROMISO CON LA EXCELENCIA</h3>
            <p>En MuStudio Design, nos comprometemos a ofrecer productos de calidad superior, diseñados y fabricados con precisión y cuidado. Nuestro objetivo no es solo crear muebles, sino construir experiencias memorables que mejoren tu día a día. Ya sea un diseño minimalista o una solución más compleja, garantizamos durabilidad, estilo y un servicio que excede tus expectativas.</p>
        </div>

        <div class="parallax-cards">
            <div class="card">
                <div class="fondo-chiquito" id="fondo-chiquito">
                    <img src="/images/baño.jpeg" class="icon_fondo" alt="">
                </div>
                <div class="texto-chiquito" id="texto-chiquito1">
                    <h3>DISEÑO DE MUEBLES</h3>
                    <p>En base al espacio que quieras dedicarle al mueble, te ayudamos para que puedas aprovecharlo de la manera mas eficiente posible.</p>
                </div>
            </div>

            <div class="card">
                <div class="fondo-chiquito" id="fondo-chiquito">
                    <img src="/images/cama.jpeg" class="icon_fondo" alt="">
                </div>
                <div class="texto-chiquito" id="texto-chiquito2">
                    <h3>ENTREGA E INSTALACIÓN</h3>
                    <p>Nos encargamos de realizar el traslado e instalarlo con nuestro equipo de trabajo, asegurándole a nuestros clientes la manipulación y colocación adecuada de nuestros productos.</p>
                </div>
            </div>

            <div class="card">
                <div class="fondo-chiquito" id="fondo-chiquito">
                    <img src="/images/descarga7.jpeg" class="icon_fondo" alt="">
                </div>
                <div class="texto-chiquito" id="texto-chiquito3">
                    <h3>GARANTÍA Y CALIDAD</h3>
                    <p>Cada pieza que entregamos está fabricada con materiales de primera calidad, asegurando su durabilidad y belleza por muchos años.</p>
                </div>
            </div>
        </div>

        <div class="desc" id="desc2">
            <h3>ASESORAMIENTO COMPLETO</h3>
            <p>Nos especializamos en entender tus necesidades específicas y convertirlas en soluciones prácticas y elegantes. Desde la elección de materiales hasta el diseño final, nuestro equipo trabaja con vos en cada paso del proceso para garantizar que obtengas un producto funcional, estético y adaptado a tu espacio. La atención personalizada es nuestra prioridad, porque cada cliente y cada hogar es único.</p>
        </div>
            
    </section>

    <div class="about">
        <div class="about-card">
            <h2>Diseño y fabricacion persoaliados.</h2>
            <p>Nuestras capacidades de fabricacion internas nos permiten crear diseños personalizados para cocinas, habitaciones, livings y mas, asegurando precision, rentabilidad y un resultado unico para cada cliente.</p>
        </div>
        <div class="about-card">
            <h2>Equipo de produccion calificado.</h2>
            <p>Nuestro experimentado equipo de produccion sigue estrictos protocolos de control de calidad, asegurando que cada prodcto cumpla con los altos estandares de durabilidad y rendimineto de MuStudio.</p>
        </div>
    </div>

    <section class="portafolios" id="portafolios">
        <h1 class="titulo-portafolios">Conoce nuestro trabajo.</h1>
        <div class="tarjetas">  
            <div class="tarjeta" id="tarjeta1"><img src="/images/Kitchen.jpeg" alt=""><h2>Cocinas</h2><span>ver más</span><p>Diseños personalizados para tu cocina.</p></div>
            <div class="tarjeta" id="tarjeta2"><img src="/images/descarga5.jpeg" alt=""><h2>Dormitorios</h2><span>ver más</span><p>Optimización del espacio en tu habitación.</p></div>
            <div class="tarjeta" id="tarjeta3"><img src="/images/baño.jpeg" alt=""><h2>Baños</h2><span>ver más</span><p>Soluciones elegantes y funcionales.</p></div>
            <div class="tarjeta" id="tarjeta4"><img src="/images/Living.jpeg" alt=""><h2>Livings</h2><span>ver más</span><p>Decoración y confort para tu sala.</p></div>
        </div>
        <div class="trabajos" id="trabajos1">
            <div class="trabajo" id="trabajo" style="background-image: url('/images/chino.jpeg');">
                    <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                    <button class="cerrar">X</button>
            </div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/cosa.jpeg');">
                <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                    <button class="cerrar">X</button>
            </div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga.jpeg');">
                <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga1.jpeg');">
                <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
        </div>
        <div class="trabajos" id="trabajos2">
            <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga6.jpeg');"><p>descripcion del trabajo2</p></div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga5.jpeg');"><p>descripcion del trabajo2</p></div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga4.jpeg');"><p>descripcion del trabajo2</p></div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/cama.jpeg');"><p>descripcion del trabajo2</p></div>
        </div>
        <div class="trabajos" id="trabajos3">
            <div class="trabajo" id="trabajo" style="background-image: url('/images/02.jpeg');"><p>descripcion del trabajo3</p></div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/03.jpeg');"><p>descripcion del trabajo3</p></div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/baño.jpeg');"><p>descripcion del trabajo3</p></div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/01.jpeg');"><p>descripcion del trabajo3</p></div>
        </div>
        <div class="trabajos" id="trabajos4">
            <div class="trabajo" id="trabajo" style="background-image: url('/images/07.jpeg');"><p>descripcion del trabajo4</p></div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/09.jpeg');"><p>descripcion del trabajo4</p></div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga8.jpeg');"><p>descripcion del trabajo4</p></div>
            <div class="trabajo" id="trabajo" style="background-image: url('/images/wall.jpeg');"><p>descripcion del trabajo4</p></div>
        </div>

        <h1 class="titulo-portafolios" style="margin-top: 3rem;">Nuestras ultimas novedades</h1>
        <div class="slider">
            <div class="tarjeta-slider" id="tarjeta-slider1" style="background-image: url('/images/01.jpeg');"><h2>Botiquín de baño con colgador para toalla</h2></div>
            <div class="tarjeta-slider" id="tarjeta-slider2" style="background-image: url('/images/02.jpeg');"><h2>Banitori con porta cesto</h2></div>
            <div class="tarjeta-slider" id="tarjeta-slider3" style="background-image: url('/images/03.jpeg');"><h2>Banitori con cajonera</h2></div>
            <div class="tarjeta-slider" id="tarjeta-slider4" style="background-image: url('/images/04.jpeg');"><h2>Estantería / Organizador</h2></div>
            <div class="tarjeta-slider" id="tarjeta-slider5" style="background-image: url('/images/05.jpeg');"><h2>Estanteria con luz calida</h2></div>
            <div class="tarjeta-slider" id="tarjeta-slider6" style="background-image: url('/images/06.jpeg');"><h2>Repisa open</h2></div>
            <div class="tarjeta-slider" id="tarjeta-slider7" style="background-image: url('/images/07.jpeg');"><h2>Mesa ratona</h2></div>
            <div class="tarjeta-slider" id="tarjeta-slider8" style="background-image: url('/images/08.jpeg');"><h2>Escritorio flotante con organizador</h2></div>
        </div>
    </section>
    <section class="contacto" id="contacto">
        <h1>Contactate con nosotros</h1>
        <div class="contenedor-contacto">
            <form action="https://formsubmit.co/mudesingstudio@gmail.com" method="POST">
                <div class="input-group">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="name" placeholder="Nombre">
    
                    <label for="phone">Telefono</label>
                    <input type="tel" name="phone" id="phone" placeholder="Telefono">
    
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email">
                    
                    <label for="message">Mensage</label>
                    <textarea name="message" id="message" cols="300" rows="" placeholder="Mensage"></textarea>
                    
                    <input class="boton-enviar" type="submit" value="Enviar">
    
                    <input type="hidden" name="_next" value="http://localhost:3000/">
                    <input type="hidden" name="_captcha" value="false">
                </div>
            </form>
        
    
            <div class="barra-contacto">
                <p>Visita nuestras redes sociales y sitios de contacto.</p>
                <div class="redes">
                    <a href="https://www.instagram.com/mudesingstudio" id="red1"><ion-icon name="logo-instagram"></ion-icon>&nbsp;Visita nuestro Instagram</a>
                    <a href="https://wa.me/3434473729" target="_blank" id="red2"><ion-icon name="logo-whatsapp"></ion-icon>&nbsp;Contactanos via Whats App</a>
                    <a href="mailto:mudesingstudio@gmail.com" id="red3"><ion-icon name="mail-outline"></ion-icon>&nbsp;Utiliza nuestro Email</a>
                </div>
               
                
            </div>
        </div>
        
    </section>

    <button id="volver-inicio" onclick="volverAlInicio()"><ion-icon name="chevron-up-outline"></ion-icon></button>

    <footer>
        cosos
    </footer>

</body>
<script>
    window.onscroll = function () {
    let posicion = window.pageYOffset || document.documentElement.scrollTop;
    let boton = document.getElementById("volver-inicio");

    // Mostrar u ocultar el botón según la posición del scroll
    if (posicion > 200) {
        boton.style.display = "block";
    } else {
        boton.style.display = "none";
    }

    // Opcional: Si tienes otros elementos como "icon_fondo"
    let elementosIcon = document.querySelectorAll("#icon_fondo");
    let elementosFondoChiquito = document.querySelectorAll("#fondo-chiquito");

    elementosIcon.forEach(elemento => {
        elemento.style.top = posicion * 0.4 + "px";
    });

    elementosFondoChiquito.forEach(elemento => {
        elemento.style.top = posicion * 0.1 + "px";
    });
};

function volverAlInicio() {
    window.scrollTo({
        top: 0,
        behavior: "smooth"
    });
}

document.addEventListener('DOMContentLoaded', function() {
  const tarjetas = document.querySelectorAll('[id^="tarjeta"]');

  tarjetas.forEach(tarjeta => {
    tarjeta.addEventListener('click', function() {
      let idTarjeta = tarjeta.id; 
      let numero = idTarjeta.replace('tarjeta', '');
      let idTrabajos = 'trabajos' + numero;
      let divTrabajos = document.getElementById(idTrabajos);

      // Ocultar los demás divs
      document.querySelectorAll('[id^="trabajos"]').forEach(div => {
        if(div.id !== idTrabajos) {
          div.classList.remove('visible');
        }
      });

      // Alternar la clase 'visible' para mostrar/ocultar con transición
      if(divTrabajos) {
        divTrabajos.classList.toggle('visible');
      }
    });
  });
});

document.querySelectorAll('.trabajo').forEach(trabajo => {
    trabajo.addEventListener('click', function () {
        if (this.classList.contains('expandido')) {
            this.classList.remove('expandido'); // Si ya está expandido, se cierra
        } else {
            document.querySelectorAll('.trabajo').forEach(t => t.classList.remove('expandido')); // Cierra otros
            this.classList.add('expandido'); // Expande el seleccionado
        }
    });
});

    
</script>
</html>