header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    background-color: #ffffff10;
    backdrop-filter: blur(8px);
}



header .imagen_header {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    align-items: center;
    background: url(../images/MUchiquito.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

header .navbar {
    display: flex;
}

 header .navbar a {
    font-size: 2rem;
    margin-left: 2.5rem;
    color: black;
    transition: all .3s linear;
 }

 header .navbar a:hover {
    transform: scale(1.1);
 }

 header input{
    display: none;
 }

 header label {
    font-size: 3rem;
    color: black;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
 }


 @media (max-width:768px) {
    header {
        padding: .5rem 8%;
    }
   header label {
       visibility: visible;
       opacity: 1;
   }

   header .navbar {
       position: absolute;
       top: 100%;
       right: 0;
       width: 60%;
       background: #aaaaaaa1;
       backdrop-filter: blur(8px);
       -webkit-backdrop-filter: blur(10px);
       flex-direction: column;
       padding: 1rem 2rem;
       border-top: .1rem black;
       transform-origin: top;
       transform: scaleY(0);
       transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
       gap: 4rem;
       align-items: center;
      border-radius: 0 0 0 25px;
      box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
   }

   header .navbar a {
      font-size: 4rem;
   }

   header input:checked ~ .navbar {
       transform: scaleY(1);
       opacity: 1;
   }

   header input:checked ~ label::before {
       content: '\f00d';
   }
}

