*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #aaaaaa;
    padding: 0 10%;
}




section{
    min-height: 80vh;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 0;
}

#volver-inicio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1px 6px 0 6px;
    background-color: #a5b9cc; /* Color similar al de WhatsApp */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 35px;
    display: none; /* Por defecto está oculto */
    
}

#volver-inicio ion-icon {
    justify-content: center;
    align-items: center;
}


#volver-inicio:hover {
    background-color: #35666d; /* Efecto hover */
}




footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    z-index: -100;
    backdrop-filter: blur(8px);
    gap: 20px;
}

footer .creditos span {
    font-size: 15px;
}

footer .info {
    display: flex;
    font-size: 10px;
    gap: 5px;
    align-items: center;
}




.menu-icon {
    display: none;
}


@media (max-width: 768px) {
    header .navbar {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: none;
    }

    header .navbar a {
        display: block;
        text-align: center;
        padding: 1rem;
    }

    .menu-icon {
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }

    .navbar.active {
        display: flex;
    }
}