.portafolios    {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9rem;
}

.portafolios .titulo-portafolios {
    color: whitesmoke;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.portafolios .tarjetas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-size: contain;
    height: 100%;
    padding: 0 0 25px 0;

}

.portafolios .tarjetas .tarjeta {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    background-size: contain;
    overflow: hidden;
    max-height: 200px;
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    text-align: center;
    transition: .2s linear;
    cursor: pointer;
}

.portafolios .tarjetas .tarjeta img {
    display: flex;
    max-width: 100%;
    height: 100%;
}

.portafolios .tarjetas .tarjeta h2 {
    display: flex;
    position: absolute;
    padding: 12px 15px 50px 15px;
    border-radius: 5px;
    color: #eee7e7;
    margin: 0;
    transition: all ease .5s;
    font-size: 3rem;
    margin-top: 7rem;
    background: rgba(0, 0, 0, 0.589);
}

.portafolios .tarjetas .tarjeta:hover h2 {
    color: #eee7e7;
    margin: 0;
    opacity: 1;
    transition: all ease .5s;
    font-size: 3rem;
    margin-top: -5rem;
    background: transparent;
}

.portafolios .tarjetas .tarjeta p {
    display: flex;
    position: absolute;
    margin-right: -20rem;
    margin-top: 5rem;
    font-size: 20px;
    opacity: 0;
    max-width: 350px;
}

.portafolios .tarjetas .tarjeta:hover p {
    margin-left: -20rem;
    opacity: 1;
    transition: all ease .5s;
    color: #ebe6e6;
}

.portafolios .tarjetas span {
    display: flex;
    position: absolute;
    margin-bottom: -13rem;
    font-size: 20px;
    color: #ebe6e6;
    max-width: 350px;
}

.portafolios .tarjetas .tarjeta:hover span {
    margin-bottom: -16rem;
    transform: scale(1.1);
    opacity: 1;
    transition: all ease .5s;
    background: rgba(0, 0, 0, 0.644);
    border-radius: 5px;
    padding: 10px;
}


.portafolios .tarjetas .tarjeta:hover img {
    transform: scale(1.1);
    transition: all ease .5s;
    backdrop-filter: blur(5px);
    background-color: #ffffff10;
    opacity: .7;
}




.portafolios .slider {
    display: flex;
    height: 400px;
    width: 100%;
    padding: auto;
    justify-content: space-between;
    margin-top: 5rem;
    z-index: 1;
}

.portafolios .slider .tarjeta-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 0;
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    opacity: .7;
    transition: all ease .5s;
    filter: grayscale(10%);
} 

.portafolios .slider .tarjeta-slider h2{
    display: flex;
    position: absolute;
    justify-content: center;
    opacity: 0;
    transition: all ease .5s;
    bottom: -4rem;
}

.portafolios .slider .tarjeta-slider:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    transform: scaleY(1.1);
    border-radius: 15px;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
}

.portafolios .slider .tarjeta-slider:hover h2 {
    opacity: 1;
    bottom: 5rem;
    padding-left: 2rem;
    font-size: 3rem;
    color: #eee7e7;
    background: rgba(5, 5, 5, 0.445);
    width: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


.trabajos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 700px; 
    margin: 2rem 0;
    padding: 2rem 0;
}


.trabajos-de-categoria {
    position: relative; /* Para posicionar elementos internos */
    width: 24%; /* Ajusta según tu diseño */
    height: 500px; /* Ajusta según tu diseño */
    overflow: hidden; /* Evita que la imagen sobresalga */
    border-radius: 10px; /* Bordes redondeados opcionales */
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(20px); /* Desplazado un poco hacia abajo */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    display: flex;
}

/* Cuando se agrega esta clase, el elemento se muestra suavemente */
.trabajos-de-categoria.mostrar {
    opacity: 1;
    transform: translateY(0);
}



.trabajo-imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 115%;
    height: 115%;
}

.trabajo-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen cubra todo el div sin deformarse */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Envía la imagen al fondo */
}

.contenedor-descripcion {
    display: flex;
    flex-direction: column;
}

.nombre-trabajo {
    position: absolute;
    bottom: 20%;
    font-size: 25px;
    color: white;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 10px 15px;
}

.ver-trabajo {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;
    font-size: 22px;
    border: none;
    cursor: pointer;
    z-index: 2;
    transition: all ease .3s;
}

.ver-trabajo:hover {
    background: rgba(0, 0, 0, 0.9);
    transform: scale(1.1);
}

.descripcion-producto {
    opacity: 0;
}

.boton-cerrar {
    display: none;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.4s ease, transform 0.4s ease;  /* Transición suave */
    pointer-events: none; /* Evita clics cuando está oculto */
    z-index: 100;
}

/* Al mostrar el modal */
.modal.mostrar {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;  /* Permite clics cuando está visible */
}

/* Contenido del modal */
.modal-contenido {
    padding: 20px;
    height: 80vh;
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-20px); /* Comienza desde arriba */
    transition: opacity 0.4s ease, transform 0.4s ease;  /* Transición suave */
}

/* Al mostrar el contenido del modal */
.modal.mostrar .modal-contenido {
    opacity: 1;
    transform: translateY(0); /* Se mueve a su posición normal */
}

.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

#imagen-principal {
    width: 90%;
    max-height: 60%;
    object-fit: cover;
}

.miniaturas {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.miniatura {
    width: 80px;
    height: 80px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
}

.miniatura:hover {
    border: 2px solid #333;
}

.modal-descripcion-contenedor {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    padding: 8rem;
}

.modal-descripcion-contenedor h2{
    font-size: 35px;
    color: #ebe6e6;
}

.modal-descripcion-contenedor p {
    font-size: 25px;
    color: #ebe6e6;
}
