<section class="acerca_de" id="acerca_de">
    <div class="grande">
        <div class="banner">
            <div class="icon">
                <img src="/images/descarga20.jpeg" id="icon_fondo" alt="">
            </div>
            
        </div>
        <div class="banner">
            <div class="icon">
                <div class="texto" id="texto">
                <h2>EXPERIENCIA, COMODIDAD Y CALIDAD PARA TU CASA.</h2>
            </div>
            </div>
        </div>
    </div>

    <div class="desc desc1" id="desc1" style="margin-top: 25rem;">
        <h3>COMPROMISO CON LA EXCELENCIA</h3>
        <p>En MuStudio Design, nos comprometemos a ofrecer productos de calidad superior, diseñados y fabricados con precisión y cuidado. Nuestro objetivo no es solo crear muebles, sino construir experiencias memorables que mejoren tu día a día. Ya sea un diseño minimalista o una solución más compleja, garantizamos durabilidad, estilo y un servicio que excede tus expectativas.</p>
    </div>

    <div class="parallax-cards">
        <div class="card">
            <div class="fondo-chiquito" id="fondo-chiquito">
                <img src="/images/baño.jpeg" class="icon_fondo" alt="">
            </div>
            <div class="texto-chiquito" id="texto-chiquito1">
                <h3>DISEÑO DE MUEBLES</h3>
                <p>En base al espacio que quieras dedicarle al mueble, te ayudamos para que puedas aprovecharlo de la manera mas eficiente posible.</p>
            </div>
        </div>

        <div class="card">
            <div class="fondo-chiquito" id="fondo-chiquito">
                <img src="/images/cama.jpeg" class="icon_fondo" alt="">
            </div>
            <div class="texto-chiquito" id="texto-chiquito2">
                <h3>ENTREGA E INSTALACIÓN</h3>
                <p>Nos encargamos de realizar el traslado e instalarlo con nuestro equipo de trabajo, asegurándole a nuestros clientes la manipulación y colocación adecuada de nuestros productos.</p>
            </div>
        </div>

        <div class="card">
            <div class="fondo-chiquito" id="fondo-chiquito">
                <img src="/images/descarga7.jpeg" class="icon_fondo" alt="">
            </div>
            <div class="texto-chiquito" id="texto-chiquito3">
                <h3>GARANTÍA Y CALIDAD</h3>
                <p>Cada pieza que entregamos está fabricada con materiales de primera calidad, asegurando su durabilidad y belleza por muchos años.</p>
            </div>
        </div>
    </div>

    <div class="desc" id="desc2">
        <h3>ASESORAMIENTO COMPLETO</h3>
        <p>Nos especializamos en entender tus necesidades específicas y convertirlas en soluciones prácticas y elegantes. Desde la elección de materiales hasta el diseño final, nuestro equipo trabaja con vos en cada paso del proceso para garantizar que obtengas un producto funcional, estético y adaptado a tu espacio. La atención personalizada es nuestra prioridad, porque cada cliente y cada hogar es único.</p>
    </div>
        
</section>

<div class="about">
    <div class="about-card">
        <h2>Diseño y fabricacion persoaliados.</h2>
        <p>Nuestras capacidades de fabricacion internas nos permiten crear diseños personalizados para cocinas, habitaciones, livings y mas, asegurando precision, rentabilidad y un resultado unico para cada cliente.</p>
    </div>
    <div class="about-card">
        <h2>Equipo de produccion calificado.</h2>
        <p>Nuestro experimentado equipo de produccion sigue estrictos protocolos de control de calidad, asegurando que cada prodcto cumpla con los altos estandares de durabilidad y rendimineto de MuStudio.</p>
    </div>
</div>