<section class="contacto" id="contacto">
    <h1>Contactate con nosotros</h1>
    <div class="contenedor-contacto">
        <form action="https://formsubmit.co/mudesingstudio@gmail.com" method="POST">
            <div class="input-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" placeholder="Nombre">

                <label for="phone">Telefono</label>
                <input type="tel" name="phone" id="phone" placeholder="Telefono">

                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email">
                
                <label for="message">Mensage</label>
                <textarea name="message" id="message" cols="300" rows="" placeholder="Mensage"></textarea>
                
                <input class="boton-enviar" type="submit" value="Enviar">

                <input type="hidden" name="_next" value="http://localhost:3000/">
                <input type="hidden" name="_captcha" value="false">
            </div>
        </form>
    

        <div class="barra-contacto">
            <p>Visita nuestras redes sociales y sitios de contacto.</p>
            <div class="redes">
                <a href="https://www.instagram.com/mudesingstudio" id="red1"><ion-icon name="logo-instagram"></ion-icon>&nbsp;Visita nuestro Instagram</a>
                <a href="https://wa.me/3434473729" target="_blank" id="red2"><ion-icon name="logo-whatsapp"></ion-icon>&nbsp;Contactanos via Whats App</a>
                <a href="mailto:mudesingstudio@gmail.com" id="red3"><ion-icon name="mail-outline"></ion-icon>&nbsp;Utiliza nuestro Email</a>
            </div>
           
            
        </div>
    </div>
    
</section>