<footer>
    <p class="creditos">
       Este sitio web fue creado por <span>&copy copyright @2025 Almada Julian.</span>
    </p>
    <div class="info">
        <i class="fas fa-envelope-open-text"></i>
        <p>julianalmada364@gmail.com</p>
    </div>
    <div class="info">
        <i class="fas fa-phone"></i>
        <p>3434473729</p>
    </div>
    <div class="info">
        <i class="fas fa-map-marker-alt"></i>
        <p>Parana, Entre Rios, Argentina.</p>
    </div>
</footer>