<header>
    <div class="imagen_header"></div>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar" class="fa fa-bars"></label>

        <nav class="navbar">
            <a href="#inicio">Inicio</a>
            <a href="#acerca_de">Acerca de</a>
            <a href="#portafolios">Portafolios</a>
            <a href="#contacto">Contacto</a>
        </nav>
    
</header>