<section class="inicio" id="inicio">
    <div class="banner">
        <div class="icon">
            <img src="/images/fondo.jpg" id="icon_fondo" alt="">
        </div>
        <div class="texto" id="texto">
            <h1>MuStudio Desing</h1>
            <h2>Amoblamientos a tu medida.</h2>
        </div>
    </div>
    <div class="descripcion-inicio">
        <h2>¿Porque elegir MuStudio Desing para sus proyectos?</h2>
        <p>Tenemos una amplia gama de soluciones de superficie solida personalisables y de alta calidad para satisfacer sus necesidades. ¡Mira nuestors proyectos ahora y contactanos para comenzar el tuyo hoy!</p>
    </div>
</section>