<section class="portafolios" id="portafolios">
    <h1 class="titulo-portafolios">Conoce nuestro trabajo.</h1>
    <div class="tarjetas">  

        <div class="tarjeta" data-categoria="cocina">
            <img src="/images/Kitchen.jpeg" alt="">
            <h2>Cocinas</h2>
            <span class="ver-mas">Ver más</span>
            <p>Diseños personalizados para tu cocina.</p>
        </div>

        <div class="tarjeta" data-categoria="dormitorio">
            <img src="/images/descarga5.jpeg" alt="">
            <h2>Dormitorios</h2>
            <span class="ver-mas">Ver más</span>
            <p>Optimización del espacio en tu habitación.</p>
        </div>
        <div class="tarjeta" data-categoria="baño">
            <img src="/images/baño.jpeg" alt="">
            <h2>Baños</h2>
            <span class="ver-mas">Ver más</span>
            <p>Soluciones elegantes y funcionales.</p>
        </div>
        <div class="tarjeta" data-categoria="living">
            <img src="/images/Living.jpeg" alt="">
            <h2>Livings</h2>
            <span class="ver-mas">Ver más</span>
            <p>Decoración y confort para tu sala.</p>
        </div>
    </div>


    <div class="trabajos-container">
        <h2>Proyectos</h2>
        <div id="contenedor-trabajos" class="trabajos">
            <!-- Los trabajos se generarán aquí con JavaScript -->
        </div>
    </div>

    <h1 class="titulo-portafolios" style="margin-top: 3rem;">Nuestras ultimas novedades</h1>
    <div class="slider">
        <div class="tarjeta-slider" id="tarjeta-slider1" style="background-image: url('/images/01.jpeg');"><h2>Botiquín de baño con colgador para toalla</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider2" style="background-image: url('/images/02.jpeg');"><h2>Banitori con porta cesto</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider3" style="background-image: url('/images/03.jpeg');"><h2>Banitori con cajonera</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider4" style="background-image: url('/images/04.jpeg');"><h2>Estantería / Organizador</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider5" style="background-image: url('/images/05.jpeg');"><h2>Estanteria con luz calida</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider6" style="background-image: url('/images/06.jpeg');"><h2>Repisa open</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider7" style="background-image: url('/images/07.jpeg');"><h2>Mesa ratona</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider8" style="background-image: url('/images/08.jpeg');"><h2>Escritorio flotante con organizador</h2></div>
    </div>

    
</section>