<section class="portafolios" id="portafolios">
    <h1 class="titulo-portafolios">Conoce nuestro trabajo.</h1>
    <div class="tarjetas">  
        <div class="tarjeta" id="tarjeta1"><img src="/images/Kitchen.jpeg" alt=""><h2>Cocinas</h2><span>ver más</span><p>Diseños personalizados para tu cocina.</p></div>
        <div class="tarjeta" id="tarjeta2"><img src="/images/descarga5.jpeg" alt=""><h2>Dormitorios</h2><span>ver más</span><p>Optimización del espacio en tu habitación.</p></div>
        <div class="tarjeta" id="tarjeta3"><img src="/images/baño.jpeg" alt=""><h2>Baños</h2><span>ver más</span><p>Soluciones elegantes y funcionales.</p></div>
        <div class="tarjeta" id="tarjeta4"><img src="/images/Living.jpeg" alt=""><h2>Livings</h2><span>ver más</span><p>Decoración y confort para tu sala.</p></div>
    </div>
    <div class="trabajos" id="trabajos1">

        <div class="trabajo" id="trabajo" style="background-image: url('/images/chino.jpeg');">
                <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
        </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/cosa.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
        </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
            <button class="cerrar">X</button>
        </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga1.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
            <button class="cerrar">X</button>
        </div>
    </div>

    <div class="trabajos" id="trabajos2">
        <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga6.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga5.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga4.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/cama.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
    </div>
    <div class="trabajos" id="trabajos3">
        <div class="trabajo" id="trabajo" style="background-image: url('/images/02.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/03.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/baño.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/01.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
    </div>
    <div class="trabajos" id="trabajos4">
        <div class="trabajo" id="trabajo" style="background-image: url('/images/07.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/09.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/descarga8.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
        <div class="trabajo" id="trabajo" style="background-image: url('/images/wall.jpeg');">
            <p>Descripción del trabajo Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis aspernatur, eius velit sed laborum consequatur, molestiae assumenda optio nobis ad, id quas recusandae! Corporis doloribus maxime quidem itaque aliquid?</p>
                <button class="cerrar">X</button>
            </div>
    </div>

    <h1 class="titulo-portafolios" style="margin-top: 3rem;">Nuestras ultimas novedades</h1>
    <div class="slider">
        <div class="tarjeta-slider" id="tarjeta-slider1" style="background-image: url('/images/01.jpeg');"><h2>Botiquín de baño con colgador para toalla</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider2" style="background-image: url('/images/02.jpeg');"><h2>Banitori con porta cesto</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider3" style="background-image: url('/images/03.jpeg');"><h2>Banitori con cajonera</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider4" style="background-image: url('/images/04.jpeg');"><h2>Estantería / Organizador</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider5" style="background-image: url('/images/05.jpeg');"><h2>Estanteria con luz calida</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider6" style="background-image: url('/images/06.jpeg');"><h2>Repisa open</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider7" style="background-image: url('/images/07.jpeg');"><h2>Mesa ratona</h2></div>
        <div class="tarjeta-slider" id="tarjeta-slider8" style="background-image: url('/images/08.jpeg');"><h2>Escritorio flotante con organizador</h2></div>
    </div>
</section>